*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #444;
    overflow-x: hidden;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__logo{
    display: block;
}

.header__section{
    width: 100%;
    position:fixed;
    top:0;
    background-color: #222;
    padding: 10px;
}

.header{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* transform: translate(500px); */
}

.header__item{
    margin-right: 20px;
}

.header__link{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:#fff;
}

.header__link:hover{
    color: tomato;
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

.header__btn{
    /* transform: translate(1000px); */
    padding: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
}

.hero{
    margin-top: 50px;
}

.hero__box{
    display: flex;
}

.hero__head{
    margin-top: 100px;
    width: 650px;
    font-size: 40px;
    color: #ccc;
}

span{
    color: peru;
}

.hero__text{
    width: 470px;
    font-size: 20px;
    color: #ccc;
    margin-top: 30px;
}

.hero__btn{
    margin-top: 10px;
    padding: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.hero__right{
    z-index: -10;
}

.hero__right--img{
  transform: translateY(100px);
  margin-left: 100px;
  /* transform: rotate(10deg);     */
  border-radius: 20px;
  z-index: -1;
}